<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Fornecedores</title>
    <!-- Bootstrap CSS -->
    <style>
        .container {
            padding-top: 20px;
        }

    </style>
</head>
<body>
    
{% include 'navbar.html' %}

<!-- Conteúdo da página -->
<div style="margin-left: 32px; margin-right: 32px; margin-top: 32px">
    <!-- Caixa de pesquisa e botão "Novo Perfil" -->
    <div class="row sticky-top bg-white p-1">
        <div class="col-10">
            <div class="search-bar border"> 
                <span class="search-icon"><i class="fi fi-rr-search"></i></span>
                <input class="w-100" type="text" id="searchInput" placeholder="Pesquisar fornecedor...">
            </div>      
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-dark w-100 h-100" data-toggle="modal" data-target="#myModal">
              Novo Fornecedor
            </button>
        </div>
        </div>

    <!-- Tabela para exibir os perfis -->
    <table style="margin-top:32px" class="table table-bordered table-striped text-center" id="perfilTable"> <!-- Adicionando classe mx-auto para centralizar -->
        <thead class="text-center table-dark">
            <tr>
                <th style="width: 20%;">Nome</th>
                <th style="width: 20%;">Morada</th>
                <th style="width: 20%;">Contacto</th>
                <th style="width: 20%;">NIF</th>
                <th style="width: 20%;">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for element in data %}
                <tr>
                    <td>{{ element.1 }}</td>
                    <td>{{ element.2 }}</td>
                    <td>{{ element.3 }}</td>
                    <td>{{ element.4 }}</td>
                    <td>
                        <button type="button" class="btn btn-dark btn-sm" style="width: 70px;" data-toggle="modal" data-target="#editarModal{{ element.0 }}">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" style="width: 70px;" data-target="#confirmDelete{{ element.0 }}">Eliminar</button>
                    </td>
                </tr>

                <!-- Modal para confirmação de eliminação -->
                <div class="modal fade" id="confirmDelete{{ element.0 }}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmDeleteLabel">Confirmar Eliminação</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Tem certeza de que deseja eliminar o fornecedor "{{ element.1 }}"?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'delete_fornecedor' element.0 %}" class="btn btn-danger">Eliminar</a> <!-- Link para a função de eliminar -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal para editar Fornecedor -->
                <div class="modal fade" id="editarModal{{ element.0 }}" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel{{ element.0 }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editarModalLabel{{ element.0 }}">Editar Fornecedor - {{ element.1 }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Formulário para editar o fornecedor -->
                                <form method="post" action="{% url 'edit_fornecedor' element.0 %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="id_nome">Nome:</label>
                                        <input type="text" value="{{ element.1 }}" class="form-control" pattern="^(?!\s)(.*\S)?$" title="Não são permitidos espaços em branco no início ou no final." required id="id_nome" name="Nome" placeholder="Digite o nome">
                                    </div>
                                    <div class="form-group">
                                        <label for="id_morada">Morada:</label>
                                        <input type="text" value="{{ element.2 }}" class="form-control" pattern="^(?!\s)(.*\S)?$" title="Não são permitidos espaços em branco no início ou no final." id="id_morada" name="Morada" placeholder="Digite a morada">
                                    </div>
                                    <div class="form-group">
                                        <label for="id_contacto">Contacto:</label>
                                        <input type="text" value="{{ element.3 }}" class="form-control" pattern="^(?!\s)(.*\S)?$" title="Não são permitidos espaços em branco no início ou no final." id="id_contacto" name="Contacto" placeholder="Digite o contacto">
                                    </div>
                                    <div class="form-group">
                                        <label for="id_nif">NIF:</label>
                                        <input type="text" value="{{ element.4 }}" class="form-control" pattern="^(?!\s)(.*\S)?$" title="Não são permitidos espaços em branco no início ou no final." required id="id_nif" name="NIF" placeholder="Digite o NIF">
                                    </div>
                                    <button type="submit" class="float-right btn btn-dark">Editar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <tr>
                    <td colspan="12">Nenhum fornecedor disponível</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal para adicionar fornecedor -->
<div class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Criar Fornecedor</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">
            
              <!-- Formulário para criar fornecedor -->
              <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_nome">Nome:</label>
                    <input type="text" class="form-control" pattern="^(?!\s)(.*\S)?$" title="Não são permitidos espaços em branco no início ou no final." required id="id_nome" name="Nome" placeholder="Digite o nome">
                </div>
                <div class="form-group">
                    <label for="id_morada">Morada:</label>
                    <input type="text" class="form-control" pattern="^(?!\s)(.*\S)?$" title="Não são permitidos espaços em branco no início ou no final." id="id_morada" name="Morada" placeholder="Digite a morada">
                </div>
                <div class="form-group">
                    <label for="id_contacto">Contacto:</label>
                    <input type="text" class="form-control" pattern="^(?!\s)(.*\S)?$" title="Não são permitidos espaços em branco no início ou no final." id="id_contacto" name="Contacto" placeholder="Digite o contacto">
                </div>
                <div class="form-group">
                    <label for="id_nif">NIF:</label>
                    <input type="text" class="form-control" pattern="^(?!\s)(.*\S)?$" title="Não são permitidos espaços em branco no início ou no final." required id="id_nif" name="NIF" placeholder="Digite o NIF">
                </div>
                <!-- Adicione mais campos conforme necessário -->
                <button class="float-right btn btn-dark" type="submit">Criar Fornecedor</button>
            </form>
          </div>
      </div>
  </div>
</div>


  

<!-- Bootstrap JS e jQuery (recomendado para ser carregado ao final da página) -->
<script>
    $(document).ready(function () {
        // Captura o evento de digitar no campo de pesquisa
        $('#searchInput').on('keyup', function () {
            // Obtém o valor digitado
            var searchText = $(this).val().toLowerCase();

            // Filtra as linhas da tabela com base no valor digitado
            $('#perfilTable tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
            });
        });
    });

</script>
</body>
</html>
