<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Detalhes Guias Compra</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container {
            padding-top: 20px;
        }
    </style>
</head>
<body>

{% include 'navbar.html' %}

<!-- Conteúdo da página -->
<div style="margin-left: 32px; margin-right: 32px; margin-top: 32px">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Encomenda {{encomenda_id}}</h1>
    </div>

    <!-- Table to display details of components -->
    <form id="guiaForm" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-bordered table-striped text-center">
            <thead class="text-center table-dark">
                <tr>
                    <th style="width: 25%;">Componentes</th>
                    <th style="width: 25%;">Preço</th>
                    <th style="width: 25%;">Quantidade</th>
                    <th style="width: 25%;">Armazém</th>
                </tr>
            </thead>
            <tbody>
                {% for componente in componentes %}
                    <tr>
                        <td>{{ componente.3 }}</td>
                        <td>{{ componente.4 }}€</td>
                        <td>
                            <input placeholder="Quantidade" class="form-control" required type="number" name="quantidade_{{ componente.2 }}" min="0" value="0">
                        </td>
                        <td>
                            <select class="form-control" required name="armazem_{{ componente.2 }}">
                                <!-- Aqui você deve iterar sobre os armazéns disponíveis -->
                                {% for armazem in armazens %}
                                    <option value="{{ armazem.0 }}">{{ armazem.1 }}</option>
                                    {% empty %}
                                    <option value="">Sem dados</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      
        <!-- Input field for NIF -->
        <label for="nif">NIF:</label>
        <input type="number" required placeholder="Insira o NIF..." class="form-control" id="nif" name="nif" >
    </form>
        <div class="float-right d-flex m-5">
            <form id="xmlForm" action="{% url 'importxml_compraguia_remessa' encomenda_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <input type="file" id="xmlInput" name="xml_file" class="d-none">
                    <button id="xmlBtn" type="button" class="btn btn-dark" onclick="chooseFile()">Importar XML</button>
                    <button id="xmlBtnSend" type="submit" class="d-none btn btn-dark">Enviar XML</button>
            </form>
            <button type="button" class="btn btn-dark ml-2" onclick="submitForm()">Adicionar Guia</button>
        </div>
</div>

<script>
function chooseFile() {
    var btn = document.getElementById("xmlBtn");
    var btnSend = document.getElementById("xmlBtnSend");
    $("#xmlInput").click();

    // Adiciona um evento para verificar quando o arquivo for selecionado
    $("#xmlInput").change(function() {
        // Verifica se o campo do arquivo não está vazio
        if ($(this).val()) {
            // Alterna a visibilidade dos botões
            btn.classList.toggle("d-none");
            btnSend.classList.toggle("d-block");
        }
    });
}

    function submitForm() {
        var formData = [];

        $("table tbody tr").each(function() {
            var quantidade = parseInt($(this).find("input").val());
            var idComponente = parseInt($(this).find("input").attr("name").split("_")[1]);
            var idArmazem = parseInt($(this).find("select").val());

            if (quantidade > 0) {
                formData.push([idComponente, quantidade, idArmazem]);
            }
        });

        $("#guiaForm").append('<input type="hidden" name="formData" value="' + JSON.stringify(formData) + '">');
        $("#guiaForm").submit();
    }
</script>

</body>
</html>
